mainmenu "Ubuntu Live Boot Image Remaster Options"

config EXPERIMENTAL
  bool "Configure experimental or untested features"
  default n
  help

    Select yes here to allow configuring of features that haven't been
    fully tested or are experimental in nature.

config DEPRECATED
  bool "Configure deprecated options"
  default n
  help

    Select yes here to allow choosing configuration options which have
    been deprecated and will be going away.

source config/Kconfig.ubuntu
source config/Kconfig.target
source config/Kconfig.apt
source config/Kconfig.build
source config/Kconfig.applications
