menu "Target ISO image options"

config REMASTER_SUFFIX
  string "Suffix to append to remastered ISO file"
  default "remastered"
  help

    Choose a string to be appended to the ISO file name to distinguish
    the binary from the original stock image ISO.

    If in question leave this at the default.

config ISO_UEFI
  bool "Create UEFI-compatible ISO image (EXPERIMENTAL)"
  depends on EXPERIMENTAL
  default n
  help

    Enable this to add an El-Torito alternate boot record pointing at
    an EFI boot loader image inside the ISO file.  This is
    experimental and not known to reliably work.

endmenu
